:root {
    --primaryColor: hsl(195, 100%, 33%);
    --secundaryColor: hsl(195, 78%, 59%); //hoverColor
    --tertiary: hsl(37, 100%, 66%); //paleGreen
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(0, 0%, 18%);
    --textColor: hsl(240, 1%, 48%);
    --greyText: hsl(240, 1%, 48%);
    --bgColor: hsl(220, 10%, 94%);
    --inputColor: hsl(330, 12%, 97%);
    --itemCardColor: hsl(218, 31%, 84%);
    --itemCardHover: hsl(213, 44%, 89%);
    /* Font and Typography */
    --biggestFontSize: 2.5rem;
    --h1FontSize: 1.5rem;
    --h2FontSize: 1.25rem;
    --h3FontSize: 1rem;
    --normalFontSize: .938rem;
    --smallFontSize: .813rem;
    --smallestFontSize: .75rem;
  }
  
  
  

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.itemForm{
    position: relative;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    width: 82%;
    height: 100%;
    padding: 2rem;
    overflow: auto;
    input{
        margin: 10px;
        padding: 0.8rem 1rem;
        border-radius: 10px;
    }
    
    .btn-form{
        border: 1px solid #000;
        text-align: center;
        border-radius: 10px;
        cursor: pointer;
    }   
    .submitButton{
        text-align: center;
        border: 1px solid #000;
        outline: none;
        cursor: pointer;
        border-radius: 8px;
        padding: 0.8rem 1rem;       
    }
    .appearance-select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      color: black;
      place-items: center;
      padding: 1rem 4rem 1rem 1rem;
      width: 10rem;
      height: 30px;
      border: 1px solid #000;
      color: black;
      border-radius: 0.25em;
      box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  }
    
    #confirmation-data, .form{
        input-left{
            text-align: left;
            width: 50px !important;
          }
          .input-right{
            text-align: right;
            width: 50px !important;
          }
        table {
            width: auto;
            padding-left: 10px;
          }
        th {
            height: 30px;
            text-align: right;
            font-size: 18px;
          }
        h1{
            text-align: left;
            margin-left: 20%;
            margin-bottom: 2%;
        }
    }

    
}