.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
  }
  
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 550px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    button{
        background: transparent;
        border: none;
                .icon{
                    color: var(--primaryColor);
                    width: 25px;
                    height: 25px;
        }
    }
    .modal-top, .modal-bottom{
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 2rem;
        margin-left: 2rem;
        h1{
            text-transform: uppercase;
            font-size: 2.4rem;
        }       
    }
    form{
        input-left{
            text-align: left;
            width: 50px !important;
          }
          .input-right{
            text-align: right;
            width: 50px !important;
          }
        table {
            width: auto;
            padding-left: 10px;
            border-spacing: 1rem 0rem !important;
            tr{
                        th {
                        height: 30px;
                        text-align: center;
                        font-size: 18px;
                    }
                        .icon{
                            position: relative;
                            top: 10px;
                            color: red;
                            justify-content: center;
                        }
                    }
          }
        
          
          
        h1{
            text-align: left;
            margin-bottom: 2%;
        }
        input{
            color: #000;
              margin: 10px;
              padding: 0.5rem .5rem;
              border-radius: 10px;
          }
    }

    

    .modal-item {
        width: 94%;
        margin-left: 2rem;
        h3{
            position: relative;
            font-weight: 500;
            margin-top: 10px;
        }
        h2{
            margin-top: 10px;
            position: relative;
            margin-left: 10%;
        }
        .selector{
            padding-left: .5rem;
            padding-right: .5rem;
            margin-top: 10px;
            position: relative;
            .active{
                color: var(--primaryColor);
            }                    
        }
    }
      .modal-bottom{
        position: absolute;
        margin: 2rem;
        font-size: 12px;
        .right-button{
            right: 0;
            bottom: 0
        }
        .left-button{
            left: 0;
            bottom: 0
        }
    }
  }
  
  
  .listingSection {
    flex-basis: 100%;

    .heading {
        width: 100%;
        justify-content: space-between;

        h1 {
            font-size: var(--h2FontSize);
            font-weight: 700;
            color: var(--blackColor);
        }

        .btn {
            border: 1px solid transparent;
            font-weight: 500;
        }
        .btn:hover {
            border: 1px solid var(--primaryColor);
        }
    }
  
  .secContainer{
    width: 100%;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    padding-left: 1rem;

.singleItem{
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: .5rem;
    border-radius: 10px;
    background: var(--itemCardColor);

    &:hover{
        background: var(--itemCardHover);
        box-shadow: 0 2px 2px var(--inputColor);

    }
    .textContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
      }
      .link {
        border-bottom: 1px solid crimson;
        width: max-content;
        padding: 2px 0px;
        color: var(--blackColor);
        font-weight: 400;
      }
      
      .containerDescription, span{
        flex: 1;
        display: flex;
        flex-direction: column;
        font-size: var(--normalFontSize);
        font-weight: 400;
        align-items: center;
        justify-content: center;

        .title{
            font-weight: 700;
        }
    }
    
    img{
        top: 10px;
        max-width: 100px ;
    }

    .icon{
        position: absolute;
        top: 10px;
        right: 10px;
        color: var(--primaryColor);
    }
    h3{
        font-size: var(--h3FontSize);
        color: var(--blackColor);
        padding: 1rem 0;
    }
    
}
}
}